<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExchangeRate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExchangeRate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExchangeRate.Properties.Settings>
            <setting name="LastPickedCurrency" serializeAs="String">
                <value>USD</value>
            </setting>
            <setting name="LastStartDatePicked" serializeAs="String">
                <value />
            </setting>
            <setting name="LastEndDatePicked" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Currencies" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>USD</string>
                        <string>BTC</string>
                        <string>RUB</string>
                        <string>EUR</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ExchangeRate.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ExchangeRate.Properties.Settings>
            <setting name="ServerUrl" serializeAs="String">
                <value>http://localhost:5000/api/ExchangeRateServerAPI</value>
            </setting>
        </ExchangeRate.Properties.Settings>
    </applicationSettings>
</configuration>